<!DOCTYPE html>
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#quiz-form").hide();

    $("button").click(function(){
        $("#quiz-form").show();
    });
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <link href="{{ url_for('static',filename='styles/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
     <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main.css') }}'>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<header>
<div id="home">
            <img id="logo" src="https://iconewsblog.files.wordpress.com/2016/01/eu-referendum-b.gif">
            <h1>Should I Stay or Should I Go?</h1>
        </div>
    <div id="intro">
                
        <h3>The EU referendum is happening on 23rd June 2016, but do we really know whether we should stay in the EU or leave the EU? Take 'Should I Stay or Should I Go' to find out which way you're currently inclined to swing and use your results to help you find out a bit more!</h3>
        
        <h3><button type="button" class="button"><a href="#quiz-form">IN OR OUT? →</a></button></h3>
</header>
<div style="text-align: center"><div class="fb-share-button" data-href="http://127.0.0.1:3672/" data-layout="button_count"></div>
<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a></div>

	<div id="quiz-form" style="padding: 4%; background-image: url(http://www.dontbeafuckingidiot.uk/images/map.png); background-size: cover; background-position: bottom">

    <form method="post" action="/take-quiz">
		<h3><label for="Q1">How likely are you to move to another EU country?</label></h3>
		<input type="range" min="0" max="4" value="2" class="fader" name="Q1"><br>
            <div class="left">
                <p>Likely</p>
            </div>
            <div class="right">
                <p>Not Likely</p>
            </div>

        <h3><label for="Q2">Are you interested in visiting other EU countries in the future?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q2"><br>
            <div class="left">
                <p>Interested</p>
            </div>
            <div class="right">
                <p>Not Interested</p>
            </div>

        <h3><label for="Q3">How important are issues like pollution, beach cleanliness and public access to information about the environment to you?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q3"><br>
            <div class="left">
                <p>Important</p>
            </div>
            <div class="right">
                <p>Not Important</p>
            </div>

        <h3><label for="Q4">How important do you find workers rights, such as maternity/paternity leave or holiday pay?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q4"><br>
            <div class="left">
                <p>Important</p>
            </div>
            <div class="right">
                <p>Not Important</p>
            </div>


        <h3><label for="Q5">Do you, or anyone you know, rely on farming subsidies?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q5">Yes<br>
            <div class="left">
                <p>A lot</p>
            </div>
            <div class="right">
                <p>Never</p>
            </div>

        <h3><label for="Q6">How likely are you to be able to afford to pay for healthcare in an EU country outside of the UK?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q6">
            <div class="left">
                <p>Likely</p>
            </div>
            <div class="right">
                <p>Not Likely</p>
            </div>

        <h3><label for="Q7">Question 7?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q7">
            <div class="left">
                <p>Yay</p>
            </div>
            <div class="right">
                <p>Nay</p>
            </div>

        <h3><label for="Q8">Question 8?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q8">
            <div class="left">
                <p>Yay</p>
            </div>
            <div class="right">
                <p>Nay</p>
            </div>

        <h3><label for="Q9">Question 9?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q9">
            <div class="left">
                <p>Yay</p>
            </div>
            <div class="right">
                <p>Nay</p>
            </div>

        <h3><label for="Q10">Question 10?</label></h3>
        <input type="range" min="0" max="4" value="2" class="fader" name="Q10">
            <div class="left">
                <p>Yay</p>
            </div>
            <div class="right">
                <p>Nay</p>
            </div>


		<br />
        <br />
		<div id="submit"><input type="submit" value="Submit" id="submit-button" /></div>
	</form>
</div>

</body>