<!DOCTYPE html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script>
      $(document).ready(function(){
          $("#quiz-form").hide();
      
          $("button").click(function(){
              $("#quiz-form").show();
          });
      });
   </script>
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
   </script>
   <link href="{{ url_for('static',filename='styles/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
   <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main.css') }}'>
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<div id="home">
   <div id="logo-title">
      <img id="logo" src="https://iconewsblog.files.wordpress.com/2016/01/eu-referendum-b.gif" style="width:20%">
      <div id="title"><a href="http://tinypic.com?ref=m7rl7n" target="_blank"><img src="http://i67.tinypic.com/m7rl7n.png" border="0" style="width:70%" alt="Should I Stay or Should I Go?"></a></div>
   </div>
   <div id="intro-1">
      <h3 style="line-height:150%" class="home-h3"><br />The EU referendum is happening on <b>23rd June 2016</b>, but <br /><i>do we really know whether we should stay in the EU or leave the EU?</i> <br /><br />
         Sure, there's a ton of information floating around about how leaving or staying would affect the UK, but it's all <i>GDP</i> this and <i>£1.8bn</i> that. <u><br /><br />What does it actually mean for our day to day lives?</u><br /><br /><br /><br /><br/><br />Well we've tried our hardest to bring to light the <u>concrete, real life issues</u> that we would notice a change in in our everyday lives & formulated it into a handy little quiz to help you identify which decision might be the right one for you.<br /><br />Take <b>Should I Stay or Should I Go</b> to find out!
   </div>
   </h3>
   <div id="intro-2">
      <h3 style="line-height:150%" class="home-h4">
         <button type="button" class="button"><a href="#quiz-form">IN OR OUT? →</a></button>
      </h3>
      <div style="text-align:center">
         <div class="fb-share-button" data-href="http://127.0.0.1:3672/" data-layout="button_count"></div>
         <a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
      </div>
      <br />
      <br />
   </div>
</div>
<div id="quiz-form" style="background-image: url(http://www.dontbeafuckingidiot.uk/images/map.png); background-size: cover">
<div id="quiz">
   <h2 id="question-h2">How important are the following issues to you?</h2>
   <br />
   <form method="post" action="/take-quiz">
      <h3 class="question"><label for="Q1">Being able to move to another EU country e.g. for work or study</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q1"><br>
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q2">Being able to visit another EU country e.g. to see family abroad or for a holiday</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q2"><br>
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q3">Clean beaches and/or public access to information about the environment</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q3"><br>
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q4">Workers rights e.g. maternity leave, paternity leave, holiday pay</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q4"><br>
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q5">Farming subsidies</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q5">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q6">Free healthcare while away in another EU country</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q6">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q7">Question 7?</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q7">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q8">Question 8?</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q8">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q9">Question 9?</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q9">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <h3 class="question"><label for="Q10">Question 10?</label></h3>
      <input type="range" min="0" max="4" value="2" class="fader" name="Q10">
      <p class="left">
         Not important
      </p>
      <p class="right">
         Important
      </p>
      <br />
      <br /><br />
      <br /><br />
      <div class="submit-button" style="text-align:center"><input type="submit" value='SUBMIT →'></div>
   </form>
</div>
</body>