<!DOCTYPE html>
<head>
<link href="{{ url_for('static',filename='styles/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
     <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main.css') }}'>
</head>
<body id="results">
<div id="page-wrap">
		<header>
		<div class="results-header"><div name="maybe_stay">
			<h1 class="results">You should maybe vote to stay in the EU.</h1>
	</header>
	<div class="results-body">
	<h3>(But also, y'know, do your own research too...)</h3>
</div></div></div></div>
</body>