<!DOCTYPE html>
<head>
  <link href="{{ url_for('static',filename='styles/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
     <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main.css') }}'>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['In',     55],
          ['Maybe In',      43],
          ['Maybe Out',  32],
          ['Out',    42]
        ]);

        var options = {
          title: 'How others voted',
          pieHole: 0.6,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

</head>
<div id="home">
   <div id="logo-title">
      <img id="logo" src="https://iconewsblog.files.wordpress.com/2016/01/eu-referendum-b.gif" style="width:20%">
      <div id="title"><a href="http://127.0.0.1:3672/" target="_blank"><img src="http://i67.tinypic.com/m7rl7n.png" border="0" style="width:70%" alt="Should I Stay or Should I Go?"></a></div>
   </div>
<body id="results">
  <div id="page-wrap">
	<header>
<div class="results-body">
      <h3>(But also, y'know, do your own research too...)</h3>
<br /><br /></div>
<div class="results-explanation">
      <p class="explanation-title"><u>Question explanations</u></p>
<br /><br />
      <p class="explanation-body">

      	<p class="Q-title">Q1. Moving to another EU country e.g. for work or study</p>
<br />
      	<p class="Q-body">The government would need to negotiate factors for British expatriates living in other EU countries such as pension rights, healthcare rights and claiming benefits. <a href="http://www.theguardian.com/politics/2016/feb/28/brexit-effect-everyday-life"> Source</a></p>
<br />
      	<p class="Q-body">Leaving the EU could also effect free movement for UK citizens throughout the EU, perhaps requiring UK citizens to acquire a study or work visa before moving to a country in the EU. <a href="http://www.theguardian.com/news/datablog/2015/oct/09/eu-referendum-polling-reveals-freedom-of-movement-most-contentious-issue">Source</a></p>
<br /><br />

      	<p class="Q-title">Q2. Visiting another EU country e.g. to see family abroad or for a holiday</p>
<br />
		<p class="Q-body">A significant piece of European legislation, the Denied Boarding Regulation, allows passengers to claim up to €600 in compensation for delays or cancellations on flights that originate in the EU. UK citizens travelling to the EU, should the UK leave the EU, may find it harder to hold airlines to account should anything happen to their flight.<a href="http://www.theguardian.com/politics/2016/feb/28/brexit-effect-everyday-life"> Source</a></p>
			<br /><br />

      	<p class="Q-title">Q3. Clean beaches and/or public access to information about the environment</p>
<br /><p class="Q-body">EU regulations on water quality have been instrumental in cleaning up Britain’s beaches. Nearly 600 coastal bathing areas are monitored for potentially dangerous bacteria such as E.coli – with minimum standards set out for safe bathing which have to be displayed. If the UK leaves the EU, the UK may not hold to such regulations. <a href="http://www.independent.co.uk/environment/eu-referendum-what-europe-has-done-for-the-uk-environment-a6835501.html"> Source</a></p>
<br /><br />
      	<p class="Q-title">Q4. Workers rights e.g. maternity leave, paternity leave, holiday pay</p>
<br /><p class="Q-body">Many rights accumulated over decades, including paid annual leave, time off for antenatal appointments and fair treatment for part-time workers, are “used every day by millions of workers”, the TUC said. But if the UK votes to leave the EU, “no one can say what will happen to these rights”.<a href="http://www.theguardian.com/politics/2016/feb/25/workers-rights-are-on-the-line-in-eu-referendum-warns-tuc"> Source</a></p>
<br /><br />

      	<p class="Q-title">Q5. Farming subsidies (when governments give money to farmers to supplement their income)</p>
<br /><p class="Q-body">A report commissioned by the Yorkshire Agricultural Society acknowledged it was possible the UK could continue subsidy payments at existing levels, using money currently going to EU coffers, but in all likelihood the Treasury would want to reduce its overall expenditure by cutting direct payments. <a href="http://www.fwi.co.uk/news/eu-exit-likely-to-lead-to-reduced-farm-subsidies.htm"> Source</a></p>
<br /><br />

      	<p class="Q-title">Q6. Free healthcare whilst away in another EU country</p>
<br /><br />

      	<p class="Q-title">Q7. Watching football, football players and/or other team sports involving citizens from other EU countries</p>
<br /><br />

      	<p class="Q-title">Q8. Scientific research in favour of clinical trials</p>
<br /><br />

      	<p class="Q-title">Q9. Consumer rights e.g. what happens after buying faulty white goods</p>
<br /><br />

      	<p class="Q-title">Q10. Using your mobile phone when away in other EU countries</p>

      </p>
      <br /><br /><br />


</div></div></div>

<div id="donutchart" style="width: 900px; height: 500px;"></div>
<br />
<br />
<br />
<br />
  <div class="twitter-body"><p class="twitter-feed">What people are tweeting about</p></div>
<div class="twitter-timeline-div">
 <a class="twitter-timeline" href="https://twitter.com/hashtag/LeaveEU" data-widget-id="710511265848885248" data-chrome="transparent">#LeaveEU Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a class="twitter-timeline" href="https://twitter.com/hashtag/EUreferendum" data-widget-id="710511735590019072" data-chrome="transparent">#EUreferendum Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a class="twitter-timeline" href="https://twitter.com/hashtag/StrongerIn" data-widget-id="710512374827061253" data-chrome="transparent">#StrongerIn Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</body>