#page-wrap {
     width: 800px;
     margin: 0 auto;
     text-align: center;
}

div.results-header {
	background: rgba(255, 255, 255, 0.5);
	padding: 50px 100px 100px 100px;
	margin-top: 100px;
}

div.results-body {
	background: rgba(255, 255, 255, 0.5);
	padding: 0px 100px 100px 100px;
	margin-bottom: 100px;
}

li {
display: inline;
font-color: rgba(255, 255, 255, 1);
}

h1.home-h1 {
font-size: 70px;
padding: 100px 20px 20px 100px;
color: black;
float: center;
border-bottom-style: solid;
}

h2 {
font-size: 30px;
padding: 60px 0px 20px 0px;
margin: 0 auto;
text-align: center;
}

h3 {
font-size: 18px;
padding: 50px;
margin: 0 auto;
text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

body {
	background-color: #2BBED8;
}

input[type=submit] {
	background-color: rgba(40, 44, 145, 0.9);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px;
	border-radius: 12px;
}

.twitter-share-button iframe{
	padding: 5px 0px 0px 5px;
	width: 60px !important;
}

.button {
	background-color: rgba(40, 44, 145, 0.9);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px;
	border-radius: 12px;
}

.button a:hover {
	color: yellow;
	text-decoration: none;
}


#quiz-form {

}

#logo {
	float: right;
}

#intro {
	max-width: 1000px;
	padding: 70px 0px;
	margin: 0 auto;
	float: center;
}

.left {
    float: left;
    width: 50%;
}

.right {
	float: right;
	text-decoration: none;
}


ul {
padding: 10px 100px 10px 100px;
}

p {
font-size: 15px;
max-width: 500px;
margin: 0 auto;
}
@media (max-width: 500px) {
h1 {
font-size: 36px;
padding: 5px;
}
li {
padding: 5px;
display: inline;
}
p { 
padding: 0 0 0 50px;
display: block;
}