#page-wrap {
     width: 800px;
     margin: 0 auto;
     text-align: center;
}

div.results-header {
	background: rgba(255, 255, 255, 0.5);
	padding: 50px 100px 50px 100px;
	margin-top: 100px;
}

div.results-body {
	background: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	padding: 10px 100px 10px 100px;
	margin-bottom: 50px;
}

div.results-explanation {
	background: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	margin-bottom: 50px;
}

p.explanation-title {
	padding-top: 50px;
	font-size: 20px;
	text-align: left;
}

p.explanation-body {
	font-size: 12px;
	text-align: left;
}

p.Q-title {
		font-size: 18px;
	text-align: left;
	text-decoration: bold;
}

p.Q-body {
	font-size: 14px;
	text-align: left;
	margin: 0 auto;
	padding: -50px;
}

.twitter-timeline-div {
	background: rgba(255, 255, 255, 0.8);
	text-align: center;	
	padding: 10px;
	margin: 0 auto;
		-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
   -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px; /* Firefox */
    column-gap: 100px;
}

div.twitter-body {
		background: rgba(255, 255, 255, 0.8);
	text-align: center;	
	margin: 0 auto;
	padding-bottom: 10px;
}

p.twitter-feed {
font-size: 30px;
padding: 60px 0px 20px 0px;
margin: 0 auto;
text-align: center;
}

#donutchart {
	background: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	margin-bottom: 50px;
}

div#title {
	text-align: center;
	padding-top: 30px;
}

div#quiz {
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	padding: 50px;
	max-width: 900px;
	margin: 0 auto;
}


p.left {
    float: left;
    padding-left: 10px;
    font-size: 12px;
    display: inline;
}

p.right {
	float: right;
	padding-right: 10px;
	font-size: 12px;
	display: inline;

}

li {
	display: inline;
	font-color: rgba(255, 255, 255, 1);
}

h1.home-h1 {
font-size: 70px;
padding: 100px 20px 20px 100px;
color: black;
float: center;
border-bottom-style: solid;
}

h2.home-h2 {
font-size: 30px;
padding: 60px 0px 20px 0px;
margin: 0 auto;
text-align: center;
}

h3.home-h3 {
font-size: 18px;
margin: 0 auto;
padding-top: 50px;
padding-bottom: 50px;
max-width: 100%;
}

h3.home-h4 {
	font-size: 18px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	float: center;
}

.fader {
	margin: 0 auto;
}


h2#question-h2 {
font-size: 30px;
margin: 0 auto;
padding-top: 10px;
text-align: center;
}

h3.question {
	padding-top: 100px;
	padding-bottom: 10px;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: white;
}

body {
	background-color: #2BBED8;
}

input[type=submit] {
	background-color: rgba(40, 44, 145, 0.9);
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px;
	border-radius: 12px;
}

.twitter-share-button iframe{
	padding: 5px 0px 0px 5px;
	width: 60px !important;
}

.button {
	background-color: rgba(40, 44, 145, 0.9);
	border: none;
	color: white;
	float: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px;
	border-radius: 12px;
}

.button a:hover {
	color: yellow;
	text-decoration: none;
}


#quiz-form {

}

#logo {
	float: right;
	padding-top: 30px;
}

#intro-1 {
	max-width: 1100px;
	margin: 0 auto;
	text-align: left;
	line-height: 90%;
	-webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
   -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px; /* Firefox */
    column-gap: 100px;

}



input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #1d0000;
  height: 15px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #1d0000;
  height: 15px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #1d0000;
  height: 15px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}



ul {
padding: 10px 100px 10px 100px;
}

p {
font-size: 15px;
max-width: 500px;
margin: 0 auto;
}
@media (max-width: 500px) {
h1 {
font-size: 36px;
padding: 5px;
}
li {
padding: 5px;
display: inline;
}
p { 
padding: 0 0 0 50px;
display: block;
}