
li {
display: inline;
font-color: rgba(255, 255, 255, 1);
}

h1 {
font-size: 90px;
padding: 20px 20px 20px 20px;
color: black;
text-align: center;
}
h2 {
font-size: 30px;
padding: 60px 0px 20px 0px;
margin: 0 auto;
}
h3 {
font-size: 20px;
padding: 50px;
margin: 0 auto;
text-align: center;
}

.button {
	background-color: blue;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#quiz-form {
padding: 10px 100px 10px 100px;
}

#intro {
	padding-bottom: 150px;
}

.left {
    float: left;
    width: 50%;
}

.right {
	margin-left: 93%;
	text-decoration: none;
}

#submit {
	padding: 0px 500px 0px 500px;
}

ul {
padding: 10px 100px 10px 100px;
}

p {
font-size: 15px;
max-width: 500px;
margin: 0 auto;
}
@media (max-width: 500px) {
h1 {
font-size: 36px;
padding: 5px;
}
li {
padding: 5px;
display: inline;
}
p { 
padding: 0 0 0 50px;
display: block;
}